<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getId()}">id</p>
<p th:text="${person.getName()} + ', ' + ${person.getAge()}">name, age</p>
<p th:text="${person.getEmail()}">email</p>
<p th:text="${person.getAddress()}">address</p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<br>
<br>
<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="delete">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>